body{
    background: rgb(108,111,115);
    background: linear-gradient(90deg, rgba(108,111,115,1) 0%, rgba(38,38,38,1) 100%);
}
#reloj{
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 820px;
    color: white;
    width: 100%;
    max-width: 1899px;
    box-sizing:border-box;
}
#reloj div b, #reloj div{
    font-size: 340px;
}
#reloj div b{
    background-color: #f4f87d;
    background-clip: border-box;
    font-family: "Rubik Mono One", monospace;
    width: 2ch;
    text-align: center;
    /* text-shadow: 0px 0px 10px #cac8c8; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.puntio{
    display: inline; 
    margin-top: 170px; 
    color: #8C7D60;
}
div .pal{
    font-size: 80px;
    font-family: 'Azonix', sans-serif;
    background-color: #a09f9f;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.gr-btn-agregar{
    width: 100%;
    height: 7vh;
    max-width: 1899px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    column-gap: 10px ;

}
#detener-btn{
    width: 3em;
}
#detener-btn:after{
    transform: skewX(-45deg) scale(0, 1);
}
#detener-btn:hover:after {
    transform: skewX(-45deg) scale(2, 2);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn {
    width: 15em;
    height: 2.7em;
    margin: 0.5em;
    background: #a09f9f;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Azonix', sans-serif;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
button:hover {
    color: black;
}
button:after {
    content: "";
    background: #f4f87d;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


@media only screen and (max-width: 450px){
    #reloj{
        display: flex;
        flex-direction: column;
        height: 710px;
    }
    #reloj div b, #reloj div{
        font-size: 200px;
    }
    div .pal{
        display: none;
    }
    .puntio{
        display: none;
    }
    .gr-btn-agregar{
        position: relative;
        bottom: 15px;
        column-gap: 0;
    }
    .btn{
        width: 8em;
        font-size: 17px;
        transition: background-color 0.4s linear ;
    }
    button:hover{
        background-color: black;
        color: white;
    }
    button:after{
        display: none;
    }
}
@media only screen and (min-width: 450px) and (max-width: 926px){
    div .pal{
        font-size: 20px;
    }
    #reloj div b, #reloj div{
        font-size: 140px;
    }
    #reloj{
        display: flex;
        flex-direction: row;
        height: 800px;
    }
    .puntio{
        position: relative;
        bottom: 80px;
    }
    .gr-btn-agregar{
        position: relative;
        bottom: 275px;
        column-gap: 0;
    }
    .btn{
        width: 8em;
        transition: background-color 0.4s linear ;
    }
    button:hover{
        background-color: black;
        color: white;
    }
    button:after{
        display: none;
    }
}
@media only screen and (max-width: 1470px) and (min-width: 926px){
    div .pal{
        font-size: 60px;
    }
    #reloj div b, #reloj div{
        font-size: 170px;
    }
    #reloj{
        display: flex;
        flex-direction: row;
        height: 800px;
    }
    .puntio{
        position: relative;
        bottom: 30px;
    }
}